footer {
  padding: 20px;
  position: relative;
  margin-top: 30px;
}

.foot-img {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.foot-img img {
  max-width: 400px;
  height: auto;
}

@media (max-width: 480px) {
  footer {
    padding: 10px;
  }
  .foot-img {
    position: static;
    transform: none;
    margin-top: 10px;
  }
  .foot-img img {
    max-width: 80px;
  }
}